.timer {
  height: 300px;
  width: 300px;
  font-size: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: antiquewhite;
  cursor: pointer;
}
.timer__controller {
  margin-top: 50px;
}
.button {
  padding: 0;
  width: 200px;
  height: 80px;
  font-size: 40px;
  background-color: initial;
  color: #ffff;
  cursor: pointer;
}
.button:not(:last-child) {
  margin: 0 20px 0 0;
}
